<div ng-hide="val" id="spacer">
	<div class="loading bar">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<!-- 	<div ng-repeat="notice in list">

		<div>Description: {{notice.description}}</div>
		<div>Name: {{notice.name}}</div>
		<div>Targets: {{notice.targets}}</div>
	</div>
</div> -->

	<main class="no-alerts" ng-show="none">
		<div class="no-alerts">
			<p>There are no scheduled notificaitons.</p>
		</div>
	</main>

		<main ng-show="val">
			<div class="container">

			<h3 class="page-title">Notification Schedules</h3>
			<section class="schedule-list" ng-repeat="notice in list">
			<a href="#/single-notification">
				<div class="schedule content-box">
					<div class="title">{{notice.name}}</div>
				</div>
			</a>
			</section>

			<section class="notificationOptions">
				<a href="#" class="button button-orange one-half">Add Schedule</a>
				<a href="#" class="button button-grey one-half">Add User</a>
				<!--Button to Add User -->
				<!--Button to Create Schedule -->
				<!--Note: These will not be functional in v1.0 -->
			</section>
			</div>
		<div class="bottom-space">&nbsp;</div>
</main>
