@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?i28vxy');
	src:url('fonts/icomoon.eot?#iefixi28vxy') format('embedded-opentype'),
		url('fonts/icomoon.woff?i28vxy') format('woff'),
		url('fonts/icomoon.ttf?i28vxy') format('truetype'),
		url('fonts/icomoon.svg?i28vxy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file:before {
	content: "\e601";
}
.icon-folder:before {
	content: "\e602";
}
.icon-folder-open:before {
	content: "\e603";
}
.icon-clock:before {
	content: "\e608";
}
.icon-cog:before {
	content: "\e607";
}
.icon-warning:before {
	content: "\e609";
}
.icon-cancel-circle:before {
	content: "\e600";
}
.icon-checkmark-circle:before {
	content: "\e604";
}
.icon-out:before {
	content: "\e60c";
}
.icon-arrow-up:before {
	content: "\e60a";
}
.icon-arrow-left:before {
	content: "\e605";
}
.icon-uniE606:before {
	content: "\e606";
}
